html, body{
    height: 100%;
}

body{
    background-image: url("../images/nobanho.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: deepskyblue;
    
}